@import url('/static/fonts/stylesheet.css');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

p,
span {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}
