@font-face {
    font-family: 'CHULALONGKORN';
    src: url('CHULALONGKORN-Bold.woff2') format('woff2'),
        url('CHULALONGKORN-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CHULALONGKORN';
    src: url('CHULALONGKORN-Regular.woff2') format('woff2'),
        url('CHULALONGKORN-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

